# Ignore everything
*

# But not these files...
!*.tex
!*.pdf
!*.ipynb
!*.py
!*.md
!*.csv
# Don't ignore directories, so we can recurse into them
!*/
# Ensure to include files in subdirectories
!**/*.tex
!**/*.pdf
!**/*.ipynb
!**/*.py
!**/*.md
!**/*.csv
