# Ignore everything
*

# But not these files...
!*.tex
!*.ipynb
!*.py
!*.md
!*.csv
!*.png
!*.jpg
!*.jpeg
# Don't ignore directories, so we can recurse into them
!*/
# Ensure to include files in subdirectories
!**/*.tex
!**/*.ipynb
!**/*.py
!**/*.md
!**/*.csv
!**/*.png
!**/*.jpg
!**/*.jpeg
